
.header-container{
    -fx-background-color: #008B8B;
    -fx-alignment:center;

}
.player-name{
    -fx-alignment:center;
    -fx-font-size: 21px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
}
.player-container{
    -fx-alignment:center;
    -fx-min-width: 426;
}
.balls-container{
    -fx-min-height: 40px;
    -fx-border-color: yellow;
    -fx-border-width: 1px;
    -fx-alignment: center;
    -fx-spacing: 20px;
}