.btn{
    -fx-text-fill: white;
    -fx-background-color: grey;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 10;
    -fx-cursor: hand;
    -fx-font-size: 18;
    -fx-font-family: aakar;
    -fx-max-width: 150px;
    -fx-min-width: 150px;
}
.btn:hover{
    -fx-background-color: lightgrey;
    -fx-text-fill: black;
}
.container{

    -fx-min-width: 100%;
    -fx-min-height: 100%;
}
.form-container{
    -fx-spacing: 50px;
}
.buttons-container{
    -fx-spacing: 25px;
}
.lblWecome{
    -fx-text-fill: white;
    -fx-font-weight: 700;
    -fx-font-size: 26;
    -fx-font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}